{% set prefix = 'quicklinks' %}

{%
  set classes = [
    prefix,
    prefix ~ '--fullwidth-blue-bg',
    'container-lg',
  ]
%}

<div class="quicklinks-wrapper--fullwidth-blue-bg">
  {% if title %}
    <div class="container-lg">
      <h2 class="{{ prefix }}__title">
        <i class="{{ prefix }}__icon icon-{{ icon_class }}"></i>
        {{ title }}
      </h2>
    </div>
  {% endif %}
  <div {{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
</div>
