{% set prefix = 'alert-box' %}

{%
  set classes = [
    prefix
  ]
%}

<div {{ attributes.addClass(classes) }}>
  {% if title %}
    <h2 class="{{ prefix }}__title h4">
      {{ title }}
    </h2>
  {% endif %}
  {% if body|render is not empty %}
    <div class="{{ prefix }}__body">
      {{ body }}
    </div>
  {% endif %}
  {% if link|render is not empty %}
    <div class="{{ prefix }}__link">
      {{ link }}
    </div>
  {% endif %}
</div>
