{% set prefix = 'footer-banner' %}

{%
  set classes = [
    prefix
  ]
%}

<div {{ attributes.addClass(classes) }}>
  <div class="{{ prefix }}__innder container-lg">
    {% if title %}
      <h2 class="{{ prefix }}__title">
        <i class="{{ prefix }}__icon icon-{{ icon_class }}"></i>
        {{ title }}
      </h2>
    {% endif %}
    <div class="{{ prefix }}__body">
      {{ body }}
    </div>
    <div class="{{ prefix }}__link">
      {{ link }}
    </div>
  </div>
</div>
